html { 
    /*
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    background-color: white;
}

.player {
    width: 270px;
    height: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -165px;
    margin-left: -135px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

p#name {
    height: 20px;
    margin: 5px 0;
}

.cover {
    background: url(../imgs/music-note.jpg) 50% 50% no-repeat;
    background-size: cover;
    opacity: .5;
    max-width: 260px;
    height: 260px;
    margin: 0 auto;
    border: 1px solid #adadad;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.cover canvas {
    opacity: 1;
}