html {
    background-color: white;
}

.player {
    width: 260px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -162px;
    margin-left: -130px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#name {
    min-height: 20px;
    margin: 5px 0;
}

.cover {
    background: url(../imgs/music-note.jpg) 50% 50% no-repeat;
    background-size: cover;
    width: 260px;
    height: 260px;
    margin: 0 auto;
    border: 1px solid #adadad;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: background 250ms ease-in-out;
    -moz-transition: background 250ms ease-in-out;
    transition: background 250ms ease-in-out;
}

.cover canvas {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto;
}

.cover i {
    color: rgba(20,20,20,.5);
    position: relative;
    top: -150px;
}